bin/
build/
.settings/
.git/
.gradle/
.classpath
.factorypath/
.terraform/
.project
**/out/
*.log

.springBeans/
.idea/
.springBeans
.factorypath

Kanban/build/

*.jcoDestination
*.trc

# IDEs and editors
*.iml
/.idea
.c9/
*.launch
*.sublime-workspace
