<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019-2020 CloudRoad Corporation. All Rights Reserved.
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextName>kanban-service</contextName>

    <logger name="logging.level.org.springframework.web" level="WARN"/>
    <logger name="logging.level.com.cloudroad.platform" level="INFO"/>
    <logger name="logging.level.org.springframework.security" level="INFO"/>
    <logger name="org.springframework.aop.framework" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>kanban.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily roll over -->
            <FileNamePattern>kanban-service.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ERR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>kanban.error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily roll over -->
            <FileNamePattern>kanban-service.%d{yyyy-MM-dd}.error.%i.log</FileNamePattern>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
            </Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- Only log level ERROR and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n
            </pattern>
        </encoder>
        <!-- Only log level WARN and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERR_FILE"/>
    </root>

</configuration>